﻿@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DOMO Connector Help</title>
    <style>
        h1, h2 {
            margin: 0;
            padding: 0;
            font-family: 'Helvetica', 'Arial', sans-serif;
            font-weight: lighter;
        }

        h1 {
            font-size: 27px;
        }

        h2 {
            display: inline-block;
            font-size: 20px;
            border-bottom: 1px solid rgb(204, 51, 51);
        }

        .domo-report-name {
            font-weight: bold;
            font-style: italic;
        }

        .detail-section {
            padding-left: 25px;
        }
    </style>
</head>
<body style="margin:0">
    <div style="background-color:rgb(204, 51, 51); padding:10px;">
        <a href="https://restaurant365software.com" target="_blank">
            <img src="~/Content/images/R365_Logo.png" width="250" />
        </a>
    </div>
    <div style="padding: 10px;">
        <div style="display:flex; flex-direction:row; align-items:center; ">
            <a href="https://domo.com" target="_blank"><img src="~/Content/images/domo_logo.svg" width="60" style="padding: 20px 5px; background-color:#9CE" /></a>
            <h1 style="padding-left: 10px">DOMO Connector Help</h1>
        </div>

        <p>Restaurant365 provides a DOMO connector that you can use to access your Restaurant365 data from within DOMO.</p>

        <h2>Authenticating to the DOMO Connector</h2>
        <div class="detail-section">
            <p>
                When entering your credentials into the DOMO connector, they must be in the form of: <span style="font-style:italic">[Domain]\[User Name]</span><br />
                For example, if your Restaurant365 URL is <span style="font-style:italic">https://yourCompany.restaurant365.net</span> then you would enter: <span style="font-style:italic">yourCompany\[User Name]</span>
            </p>
            <div>
                <span style="font-style:italic;font-weight:bold; font-size:1.1em;">*Note:</span>
                Your data must first be setup to work with the DOMO connector.
                If this process has not been completed, you will receive an authentication error.
                Please reach out to support in order to start this process.
            </div>
            <br />
        </div>

        <h2>Authorized Users</h2>
        <div class="detail-section">
            <p>
                Any active Restaurant365 user with any of the following roles assigned can use the DOMO connector:
            </p>
            <ul>
                <li>Accounting Clerk</li>
                <li>Accounting Manager</li>
                <li>Business Analytics Admin</li>
                <li>Business Analytics View Only</li>
            </ul>
            <p>
                It is suggested that you create a user in Restaurant365 specifically for accessing the DOMO connector and assigning it one of the specified roles.
                We recommend setting the password for this user to something cryptic that cannot easily be guessed.
            </p>
            <div><span style="font-style:italic;font-weight:bold; font-size:1.1em;">*Note:</span> The data returned will be restricted by the locations that the user is allowed access to in Restaurant365.</div>
            <br />
        </div>

        <h2>
            Available Reports
        </h2>
        <div class="detail-section">
            <p>
                The following reports are provided by the Restaurant365 DOMO connector:
            </p>
            <ul>
                <li>
                    <span class="domo-report-name">Transactions</span> – All the financial transactions within your Restaurant365 system.
                </li>
                <li>
                    <span class="domo-report-name">Transaction Details</span> – The line items associated with each transaction. You can join this to the ‘Transaction’ report on the ‘Transaction Id’ column to see the details related to each transaction.  The ‘Transaction Detail Auto Id’ is guaranteed to be unique.
                </li>
                <li>
                    <span class="domo-report-name">Companies</span> – Vendors or other companies in Restaurant365.  You can join this to the ‘Transaction’ report on the ‘Company Id’ column to see the details related to the company.
                </li>
                <li>
                    <span class="domo-report-name">Items</span> – Information regarding the items in your Restaurant365 system. You can join this to the ‘Transaction Detail’ report on the ‘Item Id’ column to get more information regarding the item on the transaction detail.
                </li>
                <li>
                    <span class="domo-report-name">Locations</span> – Your locations as specified in Restaurant365.  You can join this to the ‘Transaction’ or ‘Transaction Detail’ report on the ‘Location Id’ column.
                </li>
                <li>
                    <span class="domo-report-name">GL Accounts</span> – Your GL Accounts as specified in Restaurant365.  You can join this to the ‘Transaction Detail’ report on the ‘GL Account Auto Id’ column to see the GL Account details for a transaction detail.  The ‘GL Account Auto Id’ is guaranteed to be unique.
                </li>
            </ul>
            <div><span style="font-style:italic;font-weight:bold; font-size:1.1em;">*Note:</span> The data returned will be restricted by the locations that the user is allowed access to in Restaurant365.</div>
        </div>
    </div>
</body>
</html>
